<head>
    <link href="/EJSstyles.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="jquery/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/7febf94e83.js" crossorigin="anonymous"></script>
</head>
<body style="height: 100%;
width: 100%;
background: #101010;
overflow-x: hidden;">
<div class="successMessage">
    <span>Password has Been Updated!</span>
    <i style="margin-left: .4vw;" class="fa-regular fa-circle-check fa-sm"></i>
</div>
    <div class="resetPasswordContainer">
        <div class="userReset">
            <h2 style="color: #46d43b; font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-style: normal;">Reset Your Password</h2>
            <!-- <form class="form_id" id="form_id" method="POST" style="border: none;">
                <fieldset style="border: none;"> -->
                    <input name="myEmail" class="myEmail" type="hidden" value="<%= email %>"/>
                    <div class="enterPass">
                        <p style="color: white; font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                        font-style: normal; font-size: smaller;">Enter Your New Password</p>
                        <input required name="myNewPassword" type="password" class="enterPassInput"/>
                        <div class="errorMessage"><span>Passwords must match</span><i style="margin-left: .4vw;" class="fa-solid fa-circle-exclamation fa-xs"></i></div>
                    </div>
                    <div class="reEnterPass">
                        <p style="color: white; font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                        font-style: normal; font-size: smaller;">Re-Enter Your New Password</p>
                        <input required name="reMyNewPassword" type="password" class="ReEnterPassInput"/>
                    </div>
                    <button class="passChangeSubmit" id="submit" name="submit">
                        Change Password
                    </button>
                <!-- </fieldset>
            </form> -->
        </div>
    </div>
</body>

<script>
    $(function() {
    $('#submit').click(function() {
        if ($('.enterPassInput').val() != $('.reEnterPassInput').val()) {
            $('.errorMessage').show();
            setTimeout(() => {
                $('.errorMessage').hide();
            }, "3000");
        } else {
            $.ajax({
            url: "http://147.182.138.193:8080/api/users/passwordChange",
            method: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
            myEmail: $('.myEmail').val(),
            myNewPassword: $('.enterPassInput').val(),
            reMyNewPassword: $('.ReEnterPassInput').val()
        }),
        success: function (data, textStatus, jqXHR) {
            if (textStatus== "success") {
                // Handel success
                // alert(data)
                $('.successMessage').css("display", "flex");
            setTimeout(() => {
                $('.successMessage').hide();
            }, "3000");
            }
            else {
                // Handel response error
                // alert(data)
            }
        },
        });
        }
        });
    });
</script>