<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4AJX7dsVR4DkYHUP-J3exqx9c4Q4ucL8"></script>
  <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyD4AJX7dsVR4DkYHUP-J3exqx9c4Q4ucL8", v: "weekly"});</script>
</head>
<ion-content>
  <div>
    <ion-tabs>
      <ion-tab tab="home">
        <div id="home-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>Hello {{myName}}</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <div class="flex-center-home">
              <h1 style="font-size: xx-large; font-family: 'Libre Franklin', sans-serif;
              font-optical-sizing: auto;
              font-weight: 850;
              font-style: regular; color: white; margin-left: -47vw;">Locations</h1>
              <ion-list>
                @for (event of events; track events) {
                  <ion-card class="ion-activatable ripple-parent" (click)="viewVenue(event.id)">
                    <ion-ripple-effect></ion-ripple-effect>
                    <img style="opacity: 0.5;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: auto; background-position:50% 50%;" alt="Silhouette of mountains" src="{{event.images[0].url}}" />
                    <ion-card-header>
                      <ion-card-title style=" font-family: 'Libre Franklin', sans-serif;
                      font-optical-sizing: auto;
                      font-weight: 500;
                      font-style: regular;">{{event.name}}</ion-card-title>
                      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                    </ion-card-header>
                  
                    <ion-card-content style=" font-family: 'Libre Franklin', sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-style: regular;">
                      Miles Away: {{event.distance}}
                    </ion-card-content>
                  </ion-card>
                  <!-- <ion-item>
                    <ion-card (click)="viewVenue(event.id)" style="width: 93vw; height: 22vh;">
                    <img style="opacity: 0.5;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: auto; background-position:50% 50%;" src="{{event.images[0].url}}">
                      <ion-card-header>
                        <ion-card-title style="font-size: x-large; font-family: 'Libre Franklin', sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 850;
                        font-style: regular; color: white;">{{event.name}}</ion-card-title>
                      </ion-card-header>
                      <ion-card-content style="  font-family: 'Quicksand', sans-serif;
                      font-optical-sizing: auto;
                      font-weight: 400;
                      font-style: regular; color: white;">
                           Miles Away: {{event.distance}}
                      </ion-card-content>
                    </ion-card>
                  </ion-item> -->
                }
              </ion-list>
              <!-- <h1>Upcoming Venues</h1> -->
               <div style="height: 15vh; width: 100%; background-color: transparent;"></div>
            </div>
          </ion-content>
        </div>
      </ion-tab>
      <ion-tab tab="map">
        <div id="map-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>Map</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <div class="example-content">
              <div #mapEl id="mapEl" class="map"></div>
            </div>
          </ion-content>
        </div>
      </ion-tab>
      <ion-tab tab="radio">
        <div id="radio-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>Events</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <div class="flex-center-home">
              <ion-list>
                @for (package of packages; track packages) {
                  <ion-item>
                    <ion-card style="width: 93vw;">
                      <ion-card-header>
                        <ion-card-title style="font-size: x-large;  font-family: 'Libre Franklin', sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 500;
                        font-style: regular;">{{package.title}}</ion-card-title>
                      </ion-card-header>
                      <ion-card-content style="  font-family: 'Quicksand', sans-serif;
                      font-optical-sizing: auto;
                      font-weight: 400;
                      font-style: regular;">
                           Carrier: {{package.carrier}}
                        <br>Tracking Number: {{package.trackingNumber}}
                      </ion-card-content>
                      <div class="ion-text-end ion-margin">
                        <ion-button color="success" style="max-width: fit-content;" size="small">Edit</ion-button><ion-button (click)="removeThisPackage(package.trackingNumber)" color="success" style="max-width: fit-content;" size="small">Delete</ion-button>                        
                      </div>
                    </ion-card>
                  </ion-item>
                }
              </ion-list>
            </div>
          </ion-content>
          <ion-fab slot="fixed" vertical="bottom" horizontal="end">
            <ion-fab-button class="ion-margin" color="success">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
              <form [formGroup]="form" (ngSubmit)="submitPackage(form.value)">
                <ion-item *ngIf="labelInUseError || labelCreatedAlert" #removeLabelInUseError style="width: 56vw;
                margin-left: -54vw;
                font-size: 12px;">
                  <ion-label *ngIf="labelInUseError" color="danger">{{labelInUseError}}</ion-label>
                  <ion-label *ngIf="labelCreatedAlert" color="success">{{labelCreatedAlert}}</ion-label>
                  <!-- <ion-label #removeEmailError color="danger" class="errorLabel" *ngIf="userDoesNotExists  && !removeEmailError && !form.get('email').errors?.required  && !form.get('email').errors?.email && !removeUserDoesNotExists">{{userDoesNotExists}}</ion-label> -->
                </ion-item>
                <ion-item style="margin-left: -54vw;">
                  <ion-input label="Title" labelPlacement="stacked" placeholder="Enter Package Title" formControlName="title" aria-required="true" type="text"></ion-input>
                </ion-item>
                <ion-item style="margin-left: -54vw;">
                  <ion-input label="Tracking Number" labelPlacement="stacked" placeholder="Enter Tracking Number" formControlName="trackingNumber" aria-required="true" type="text"></ion-input>
                </ion-item>
                <ion-item style="margin-left: -54vw; width: 55.6vw;">
                  <ion-button  type="submit" 
                  color="success" 
                  [disabled]="!form.valid" size="small">Create</ion-button>
                </ion-item>
              </form> 
            </ion-fab-list>
          </ion-fab>
        </div>
      </ion-tab>
      <ion-tab tab="search">
        <div id="search-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>Profile</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <div class="flex-center-home">
              <ion-avatar class="ion-activatable ripple-parent circle">
                <ion-ripple-effect></ion-ripple-effect>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-list style="width: 85%; margin-top: 5vh;" [inset]="true">
                <ion-item id="open-modal" (click)="openProfModal()" [button]="true">
                  <ion-icon color="danger" slot="start" name="list-circle" size="large"></ion-icon>
                  <ion-label>Profile</ion-label>
                  <!-- <ion-note slot="end">6</ion-note> -->
                </ion-item>
                <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
                  <ng-template>
                    <ion-header>
                      <ion-toolbar>
                        <ion-title>Modal</ion-title>
                        <ion-buttons slot="end">
                          <ion-button (click)="modal.dismiss()">Close</ion-button>
                        </ion-buttons>
                      </ion-toolbar>
                    </ion-header>
                    <ion-content class="ion-padding">
                      <p>You will be prompted when closing this modal.</p>
                    </ion-content>
                  </ng-template>
                </ion-modal>
                <ion-item [button]="true">
                  <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
                  <ion-label>Display</ion-label>
                  <!-- <ion-note slot="end">15</ion-note> -->
                </ion-item>
              </ion-list>
            </div>
          </ion-content>
        </div>
      </ion-tab>
    
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button (click)="openMainMap()" #mapTab id="mapTab" tab="map">
          <ion-icon name="map-outline"></ion-icon>
          Map
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <ion-icon name="musical-notes-outline"></ion-icon>
          Events
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="person-outline"></ion-icon>
          Profile
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>
