<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<ion-content>
  <div>
    <ion-tabs>
      <ion-tab tab="home">
        <div id="home-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>Hello {{myName}}</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <div class="flex-center-home">
              <!-- <div>
                <ion-button color="success" expand="block">Map</ion-button>
              </div> -->
              <h1 style="font-size: xx-large; font-family: 'Libre Franklin', sans-serif;
              font-optical-sizing: auto;
              font-weight: 850;
              font-style: regular; color: white; margin-left: -47vw;">Locations</h1>
              <ion-list>

                <!-- <ion-item id="open-modal" (click)="openProfModal()" [button]="true">
                  <ion-icon color="danger" slot="start" name="list-circle" size="large"></ion-icon>
                  <ion-label>Profile</ion-label>
                </ion-item> -->

                
                @for (event of events; track events) {
                  <ion-item>
                    <ion-card (click)="viewVenue(event.id)" style="width: 93vw; height: 22vh;">
                    <img style="opacity: 0.5;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: auto; background-position:50% 50%;" src="{{event.images[0].url}}">
                      <ion-card-header>
                        <ion-card-title style="font-size: x-large; font-family: 'Libre Franklin', sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 850;
                        font-style: regular; color: white;">{{event.name}}</ion-card-title>
                      </ion-card-header>
                      <ion-card-content style="  font-family: 'Quicksand', sans-serif;
                      font-optical-sizing: auto;
                      font-weight: 400;
                      font-style: regular; color: white;">
                           Miles Away: {{event.distance}}
                           <!-- <ion-img src="{{event.images[0].url}}"></ion-img> -->
                      </ion-card-content>
                    </ion-card>
                  </ion-item>
                }
                <!-- <ion-item>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>Shipping Update</ion-card-title>
                    </ion-card-header>
                  
                    <ion-card-content>
                      Here's a small text description for the card content. Nothing more, nothing less.
                    </ion-card-content>
                    <div class="notiBtns">
                      <ion-button fill="clear">View</ion-button>
                      <ion-button fill="clear">Dismiss</ion-button>
                    </div>
                  </ion-card>
                </ion-item>
                <ion-item>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>Shipping Update</ion-card-title>
                    </ion-card-header>
                  
                    <ion-card-content>
                      Here's a small text description for the card content. Nothing more, nothing less.
                    </ion-card-content>
                    <div class="notiBtns">
                      <ion-button fill="clear">View</ion-button>
                      <ion-button fill="clear">Dismiss</ion-button>
                    </div>
                  </ion-card>
                </ion-item>
                <ion-item>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>Shipping Update</ion-card-title>
                    </ion-card-header>
                  
                    <ion-card-content>
                      Here's a small text description for the card content. Nothing more, nothing less.
                    </ion-card-content>
                    <div class="notiBtns">
                      <ion-button fill="clear">View</ion-button>
                      <ion-button fill="clear">Dismiss</ion-button>
                    </div>
                  </ion-card>
                </ion-item> -->
              </ion-list>
              <!-- <h1>Upcoming Venues</h1> -->
            </div>
          </ion-content>
        </div>
      </ion-tab>
      <ion-tab tab="map">
        <div id="map-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>Map</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <div class="example-content">Map content</div>
          </ion-content>
        </div>
      </ion-tab>
      <ion-tab tab="radio">
        <div id="radio-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>Events</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <div class="flex-center-home">
              <ion-list>
                @for (package of packages; track packages) {
                  <ion-item>
                    <ion-card style="width: 93vw;">
                      <ion-card-header>
                        <ion-card-title style="font-size: x-large;  font-family: 'Libre Franklin', sans-serif;
                        font-optical-sizing: auto;
                        font-weight: 500;
                        font-style: regular;">{{package.title}}</ion-card-title>
                      </ion-card-header>
                      <ion-card-content style="  font-family: 'Quicksand', sans-serif;
                      font-optical-sizing: auto;
                      font-weight: 400;
                      font-style: regular;">
                           Carrier: {{package.carrier}}
                        <br>Tracking Number: {{package.trackingNumber}}
                      </ion-card-content>
                      <div class="ion-text-end ion-margin">
                        <ion-button color="success" style="max-width: fit-content;" size="small">Edit</ion-button><ion-button (click)="removeThisPackage(package.trackingNumber)" color="success" style="max-width: fit-content;" size="small">Delete</ion-button>                        
                      </div>
                    </ion-card>
                  </ion-item>
                }
              </ion-list>
            </div>
          </ion-content>
          <ion-fab slot="fixed" vertical="bottom" horizontal="end">
            <ion-fab-button class="ion-margin" color="success">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
              <form [formGroup]="form" (ngSubmit)="submitPackage(form.value)">
                <ion-item *ngIf="labelInUseError || labelCreatedAlert" #removeLabelInUseError style="width: 56vw;
                margin-left: -54vw;
                font-size: 12px;">
                  <ion-label *ngIf="labelInUseError" color="danger">{{labelInUseError}}</ion-label>
                  <ion-label *ngIf="labelCreatedAlert" color="success">{{labelCreatedAlert}}</ion-label>
                  <!-- <ion-label #removeEmailError color="danger" class="errorLabel" *ngIf="userDoesNotExists  && !removeEmailError && !form.get('email').errors?.required  && !form.get('email').errors?.email && !removeUserDoesNotExists">{{userDoesNotExists}}</ion-label> -->
                </ion-item>
                <ion-item style="margin-left: -54vw;">
                  <ion-input label="Title" labelPlacement="stacked" placeholder="Enter Package Title" formControlName="title" aria-required="true" type="text"></ion-input>
                </ion-item>
                <ion-item style="margin-left: -54vw;">
                  <ion-input label="Tracking Number" labelPlacement="stacked" placeholder="Enter Tracking Number" formControlName="trackingNumber" aria-required="true" type="text"></ion-input>
                </ion-item>
                <ion-item style="margin-left: -54vw; width: 55.6vw;">
                  <ion-button  type="submit" 
                  color="success" 
                  [disabled]="!form.valid" size="small">Create</ion-button>
                </ion-item>
              </form> 
            </ion-fab-list>
          </ion-fab>
        </div>
      </ion-tab>
      <!-- <ion-tab tab="library">
        <div id="library-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>Settings</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <div class="example-content">Settings content</div>
          </ion-content>
        </div>
      </ion-tab> -->
      <ion-tab tab="search">
        <div id="search-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>Profile</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <div class="flex-center-home">
              <ion-avatar class="ion-activatable ripple-parent circle">
                <ion-ripple-effect></ion-ripple-effect>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-list style="width: 85%; margin-top: 5vh;" [inset]="true">
                <ion-item id="open-modal" (click)="openProfModal()" [button]="true">
                  <ion-icon color="danger" slot="start" name="list-circle" size="large"></ion-icon>
                  <ion-label>Profile</ion-label>
                  <!-- <ion-note slot="end">6</ion-note> -->
                </ion-item>
                <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
                  <ng-template>
                    <ion-header>
                      <ion-toolbar>
                        <ion-title>Modal</ion-title>
                        <ion-buttons slot="end">
                          <ion-button (click)="modal.dismiss()">Close</ion-button>
                        </ion-buttons>
                      </ion-toolbar>
                    </ion-header>
                    <ion-content class="ion-padding">
                      <p>You will be prompted when closing this modal.</p>
                    </ion-content>
                  </ng-template>
                </ion-modal>
                <ion-item [button]="true">
                  <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
                  <ion-label>Display</ion-label>
                  <!-- <ion-note slot="end">15</ion-note> -->
                </ion-item>
                <!-- <ion-item [button]="true">
                  <ion-icon color="success" slot="start" name="list-circle" size="large"></ion-icon>
                  <ion-label>Cleaning</ion-label>
                  <ion-note slot="end">3</ion-note>
                </ion-item>
                <ion-item [button]="true">
                  <ion-icon color="warning" slot="start" name="list-circle" size="large"></ion-icon>
                  <ion-label>Reminders</ion-label>
                  <ion-note slot="end">8</ion-note>
                </ion-item> -->
              </ion-list>
            </div>
          </ion-content>
        </div>
      </ion-tab>
    
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="map">
          <ion-icon name="map-outline"></ion-icon>
          Map
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <ion-icon name="musical-notes-outline"></ion-icon>
          Events
        </ion-tab-button>
        <!-- <ion-tab-button tab="library">
          <ion-icon name="cog-outline"></ion-icon>
          Settings
        </ion-tab-button> -->
        <ion-tab-button tab="search">
          <ion-icon name="person-outline"></ion-icon>
          Profile
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>
