<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Venue</ion-list-header>
            <ion-item (click)="navigateProfile()" style="
            display: flex;
            align-items: center;
            justify-content: space-between;" class="ion-activatable ripple-parent circle">
              <ion-ripple-effect></ion-ripple-effect>
              <span style="font-size: small;">{{myEmail}}</span>
              <ion-avatar style="margin-left: 5vw;">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-item>
          <ion-item>Home</ion-item>
          <ion-item>Map</ion-item>
          <ion-item>Events</ion-item>
          <ion-item>Profile</ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index"></ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
